---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/star_favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>notart</title>
	</head>
	<body>
        <a href="/">home</a>
        <a href="/about/">about</a>
        <a href="/orgasm/">orgasm</a>
		<h1>joshua pearse</h1>
		<p1>
            notartjosh@gmail.com <br>
            (+27) 0737870176
		</p1>
	</body>
</html>
