---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/star_favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>notart</title>
	</head>
	<body>
		<a href="/">home</a>
        <a href="/orgasm/">orgasm</a>
		<a href="/diypeen/">penis</a>
		<a href="/about/">me</a>
		<a href="/cv/">cv</a>
		<h1>CV</h1>
        <ul>
            <li><a href="/curriculumVitae/entry-1">job 1</a></li>
            <li><a href="/curriculumVitae/entry-2">job 2</a></li>
            <li><a href="/curriculumVitae/entry-3">job 3</a></li>
          </ul>
		
	</body>
</html>