---
import '../styles/global.css';
import Navigation from '../components/Navigation.astro';
import Footer from '../components/Footer.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/star_favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>notart</title>
	</head>
	<body>
		<Navigation />
        <div style="display: flex; flex-direction: column; min-height: 100vh;">
            <div style="flex: 1;">
                <div class="container">
		<h1>CV</h1>
        <ul>
            <li><a href="/curriculumVitae/entry-1">job 1</a></li>
            <li><a href="/curriculumVitae/entry-2">job 2</a></li>
            <li><a href="/curriculumVitae/entry-3">job 3</a></li>
          </ul>
        </div>
            </div>
          <Footer />
        </div>
	</body>
</html>