---
import '../styles/global.css';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/star_favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Ɛ=ↄ</title>
	</head>

    <style>
     
     html {
    background-color: #fee8e8;
}

      p{
        color: rgb(96, 94, 94);
       text-align: justify;
     
      }
      a {
        color: rgb(255, 2, 196);
    }
    </style>

	<body>
		
        <div style="display: flex; flex-direction: column; min-height: 100vh;">
            <div style="flex: 1;">
                <div class="container">
                    <div id="content">
                        <div style="height: 80px;"></div>
                        <iframe width="100%" height="315" src="https://www.youtube.com/embed/19dUxKtIf1E?si=oIJTY1zwfsIugvOZ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
                        <div style="height: 30px;"></div>
                        <p>
							A how to on how to volumetrically scan, model, and even animate your (my) penis.
							<br><br>
 

							The popular conception of manhood is contingent on having a penis, more specifically: a hard penis. Dick pics are about ego and power. How hard you can you get? What’s your capacity to penetrate? They’re assertive. An erect penis also lends itself, formally, to being rendered as a doodle or a crude sculpture. They are readily depicted and easily recognised. Their simplicity serves as the ideal symbol for a reductive masculinity. They’re replicated obsessively, jokingly, and egotistically, but never as objects of desire… #nohomo
							<br><br>
							​
							
							Soft penises are embarrassing*. No one wants to speak about them. When shown on film, they’re shyly glanced at for only a second. When it’s porn they can only be hard. We’re accustomed to the image of a penis eternally erect. In this video I replace an erect penis with my flaccid one – parading it as a phallic emblem.  It troubles, I hope, or at least pokes fun at the idea of a monolithic manhood.
							<br> <br>
							
							*There is a great irony in the stereotype of white guys having little dicks, because it’s self-made (which we’re now very sad about). Historically, the small flaccid penis was embraced by white men to make themselves appear unthreatening and to contrast their racist fear mongering stereotypes around black male sexuality. ‘Small dicks for the sake of the empire!’ But the empire was also obsessed with the violent assertion of masculinity (think guns), they demonised and celebrated the phallus simultaneously.  
                        </p>
                        <div style="height: 140px;"></div>
                        <a href="/">//end</a>
                        <div style="height: 20px;"></div>
                     </div>
        </div>
            </div>
          
        </div>
	</body>
</html>