---
import '../styles/global.css';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/star_favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>notart</title>
	</head>

    <style>
     
      p1{
        color: white;
       text-align: justify;
       white-space: pre-wrap;
      }

      p{
        color: white;
       text-align: justify;
       white-space: pre-wrap;
      }
    </style>

	<body>
		
        <div style="display: flex; flex-direction: column; min-height: 100vh;">
            <div style="flex: 1;">
                <div class="container">
                    <div id="content">
                        <div style="height: 140px;"></div>
                        <p1>(1)

 

                            ...In that  Empire,  the  Art of  Cartography attained such  Perfection that the map of a single Province occupied the entirety of a City, and the map of the Empire, the entirety of a   Province.   In time,   those Unconscionable Maps no longer satisfied,   and   the Cartographers Guilds struck a Map of the Empire whose size was that of the Empire, and which  coincided point for  point with  it.  The following  Generations,  who were not so fond of the  Study of  Cartography as their  Forebears had been,  saw that that vast  Map was  Useless,  and not without some  Pitilessness was it,  that they delivered it up to the Inclemencies of  Sun and  Winters.  In the Deserts of the West,  still today,  there are Tattered  Ruins of that  Map,  inhabited by Animals and  Beggars;  in all the  Land there is no other Relic of the Disciplines of Geography.
                            
                             
                            
                            —Suarez Miranda,Viajes de varones prudentes, Libro IV,Cap. XLV, Lerida, 1658
                            
                            
                             ​</p>
                        
                            <p1>
                                (11)
                            
                             
                            
                                “Workers do not produce themselves, they produce a power independent of themselves. The success of this production, the abundance it generates, is experienced by the producers as an abundance of dispossession. As their alienated products accumulate, all time and space become foreign to them. The spectacle is the map of this new world, a map that is identical to the territory it represents. The forces that have escaped us display themselves to us in all their power.” 
                                
                                 
                                
                                —31
                                
                                ​
                                
                                ​
                                
                                ​
                                
                                
                                Debord (1) and Borges (11) both speak of a map. This map, identical to the world it represents,   the Cartesian map of dispossession, is now fully realisable. Information, digitised, but held in physical space, analyses and simulates space    while imposing itself onto it. Creating chasms and choking the atmosphere. Simultaneously, it enables otherwise impossible cooperation that attempts to mitigate the damage. The (w)hole constantly collapses in on itself. A constantly changing equilibrium is forever produced. 
                               
                            </p>
                            <div style="height: 40px;"></div>
                        <p>
                            
                            The map is a product of extimate collaboration.  I  serve as a node in the emergent map. And nothing will have taken place.                                                                                                                     But the fact is that the void is not empty (as the western colonial apparatus asserts). It is crammed full. This continuous knot, of space that is bodies and bodies that are space, demands empathy, and its demands are inexhaustible.
                            All response is mundane and convoluted, ready to be drawn in                and mapped out.  
                        </p>
                        <div style="height: 140px;"></div>
                        <a href="/">//end</a>
                        <div style="height: 20px;"></div>
                     </div>
        </div>
            </div>
          
        </div>
	</body>
</html>