---
import '../styles/global.css';
import Navigation from '../components/Navigation.astro';
import Footer from '../components/Footer.astro';
const pageTitle ="notart";

import HoverImage from '../components/HoverImage.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/star_favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
		<div style="display: flex; flex-direction: column; min-height: 100vh;">
		<div style="flex: 1;">
			<div class="container">
		<h1></h1>
		<HoverImage 
  staticSrc="src/assets/gifs/nose.png"
  gifSrc="src/assets/gifs/nose.gif"
  link="/nose" 
  alt="Nose"
  width="180px"
  height="180px"
  customStyle="position: absolute; top: 50px; left: 100px;"
/>
<HoverImage 
staticSrc="src/assets/gifs/Phone.png"
gifSrc="src/assets/gifs/Phone.gif"
link="/nose" 
alt="HomeWork"
width="180px"
height="180px"
customStyle="position: absolute; top: 700px; left: 700px;"
/>
<HoverImage 
staticSrc="src/assets/gifs/Penis.png"
gifSrc="src/assets/gifs/Penis.gif"
link="/nose" 
alt="diypeen"
width="200px"
height="200px"
customStyle="position: absolute; top: 500px; left: 1500px;"
/>
<HoverImage 
staticSrc="src/assets/gifs/fig.png"
gifSrc="src/assets/gifs/fig.gif"
link="/orgasm" 
alt="fig"
width="130px"
height="130px"
customStyle="position: absolute; top: 150px; left: 900px;"
/>
		</div>
		</div>
		<Footer />
		</div>
	
	</body>
</html>
