---
import '../styles/global.css';
import Navigation from '../components/Navigation.astro';
import Footer from '../components/Footer.astro';
const pageTitle ="notart";

import HoverImage from '../components/HoverImage.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/star_favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
		<div style="display: flex; flex-direction: column; min-height: 100vh;">
		<div style="flex: 1;">
			<div class="container">
		<h1></h1>
		<HoverImage 
  staticSrc="/assets/gifs/nose.png"
  videoSrc="/assets/gifs/nose.webm"
  link="/nose" 
  alt="Nose"
  width="170px"
  height="170px"
  customStyle="position: absolute; top: 10%; left: 10%;"
  hoverText="Rhodes' Noses"
/>
<HoverImage 
staticSrc="/assets/gifs/Phone.png"
videoSrc="/assets/gifs/Phone.webm"
link="/homework" 
alt="HomeWork"
width="170px"
height="170px"
customStyle="position: absolute; top: 75%; left: 25%;"
hoverText="   home work"
/>
<HoverImage 
staticSrc="/assets/gifs/Penis.png"
videoSrc="/assets/gifs/Penis.webm"
link="/diypeen" 
alt="diypeen"
width="200px"
height="200px"
customStyle="position: absolute; top: 60%; left: 75%;"
hoverText="DIY Peen"
/>
<HoverImage 
  staticSrc="/assets/gifs/fig.png"
  videoSrc="/assets/gifs/fig.webm"
  link="/orgasm" 
  alt="fig"
  width="130px"
  height="130px"
  customStyle="position: absolute; top: 30%; left: 45%;"
  hoverText=""
/>
		</div>
		</div>
		<Footer />
		</div>
	
	</body>
</html>
