---
import '../styles/global.css';
import Navigation from '../components/Navigation.astro';
import Footer from '../components/Footer.astro';
const pageTitle ="notart";

import HoverImage from '../components/HoverImage.astro';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/star_favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle}</title>
	</head>
	<body>
		<div style="display: flex; flex-direction: column; min-height: 100vh;">
		<div style="flex: 1;">
			<div class="container">
		<h1></h1>
		<HoverImage 
		staticSrc="src/assets/gifs/nose.png"
		gifSrc="src/assets/gifs/nose.gif"
		link="/orgasm" 
		alt="Orgasm"
	  />
		</div>
		</div>
		<Footer />
		</div>
	
	</body>
</html>
