
---
import '../styles/global.css';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/star_favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>notart</title>
	</head>

    <style>
     
      p1{
        color: white;
       text-align: justify;
       white-space: pre-wrap;
      }

      p{
        color: white;
       text-align: justify;
       white-space: pre-wrap;
      }
      

    </style>

<body>
		
    <div style="display: flex; flex-direction: column; min-height: 100vh;">
        <div style="flex: 1;">
            <div class="container">
                <div id="content">
                    <div style="height: 140px;"></div>
                    
                    <iframe src="public/assets/digitising.pdf" width="100%" height="600px" style="border:none;"></iframe>


<div style="height: 140px;"></div>
<a href="/">//end</a>
<div style="height: 20px;"></div>
</div>
</div>
</div>

</div>
</body>
</html>