---
import '../styles/global.css';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/star_favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Rhodes's nose</title>
	</head>
<style>
     
     html {
    background-color: #f4ebe3;
}

      p{
        color: rgb(74, 73, 73);
       text-align: justify;
     
      }
      a {
        color: rgb(0, 0, 0);
    }

    </style>
    <div style="height: 140px;"></div>
    <body>
        <div style="display: flex; flex-direction: column; min-height: 100vh;">
            <div style="flex: 1;">
                <div class="container">
                    <div id="content">
        <p>

This project looks at attitudes toward the edifice of Cecil Rhodes in Cape Town. It draws on parallels between the treatment of the monument and the treatment of religious iconography. Rhodes’ image serves as an icon and the gestures enacted on the object become iconoclastic. The ideology under scrutiny is imperialism and white supremacy. 
</p>
<div style="height: 140px;"></div>
<a href="/">//end</a>
</div>
</div>
    </div>
  
</div>   

</body>
    </html>