---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/star_favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>notart</title>
	</head>
	<body>
		<a href="/">home</a>
        <a href="/about/">about</a>
        <a href="/orgasm/">orgasm</a>
		<h1>a male orgasm</h1>
		<p1>
			In the beginning was  the word.
              	and the word  was without form.

To summarise in advance of saying… the masculine is reproductive surplus. It is always being entered, but is in denial, fixated on penile ejaculation. Ecstasy is not only sexual, but it is always some small death. The sexual, also, is never a ‘mere’ thing. Everything is a derivation, a reproductive role-play and always the perversion of it. A pleasurable perversion, productive of other faculties. Productivity is better remunerated than reproduction (economically). In fetishising the new, the most desirable labour is that of production, while reproduction is undersold. 
<br><br>(Even sex work and surrogacy, which are true productive experiences of the body, are undervalued, for taint of reproduction.)
<br>
<br><br>
A male Orgasm
<br><br>
Man sits with a craned neck<br>
Man looks at his crotch<br>
Man calls it his loins<br>
In the pink folds<br>
Man sees eternity shriveling<br>
Man broods over the thought<br>
That all testicles are now filled with plastic<br>
Man frets over declining fertility rates<br>
“Mankind must be saved”<br>

		</p1>
	</body>
</html>
