---
import Navigation from "./Navigation.astro";
---

<footer>
    <p><a class="button" id="toggle-nav">notart</a></p>
    <div class="nav-links" id="nav-links">
        <Navigation />
    </div>
</footer>

<style>
    footer {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        gap: 1rem;
        margin-top: 2rem;
        background: linear-gradient(
            to bottom,
            #303030 0%,          
            #858585 5%,         
            #727272 10%, 
            #656565 25%,        
            #4f4f4f 80%,
            #303030 95%,       
            #292929 100%         
        );
        width: 100%;
        box-sizing: border-box;
    }

    p {
        margin: 0;
        height: 100%;
        display: flex;
        align-items: center;
    }

    a.button {
        padding: 0.25rem 1rem;
        color: rgb(255, 255, 255);
        text-shadow: 1px 1px 2px rgba(58, 57, 57, 0.7);
        background: linear-gradient(
        to bottom,
            #303030 0%,          
            #858585 5%,         
            #727272 10%, 
            #656565 25%,        
            #4f4f4f 80%,
            #303030 95%,       
            #292929 100%       
        );
        z-index: 1000;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
        box-shadow: 0px 0 3px rgba(0, 0, 0, 0.5);
        text-decoration: none;
        height: 100%;
        display: flex;
        align-items: center; /* Center the text */
        cursor: pointer; 
    }

    a.button.active {
    background: linear-gradient(
        to bottom,
            #303030 0%,                
            #4f4f4f 80%,
            #303030 95%,       
            #292929 100%       
        );
    color: #ffffff;
}

    .nav-links {
        display: none; /* Hide by default */
       
    }

    .nav-links.active {
        display: flex; /* Show when active */
        flex-direction: column; /* Stack links vertically */
        background-color: #d7522d; /* Background color */
        position: absolute; /* Position it absolutely */
        bottom: 50px; /* Adjust to position above the footer */
        left: 0; /* Align to the left */
        width: 200px; /* Full width */
        z-index: 999; /* Make sure it is above other content */
    }

    a.nav-links:hover {
        background-color: #292929;
    }

    .nav-links a {
        padding: 10px;
        color: rgb(255, 8, 8); /* Text color */
         /* Remove underline */
        cursor: pointer; 
    }

    .nav-links a:hover {
        background-color: #ff7a4c; /* Change background on hover */
        color: rgb(255, 8, 8); /* Text color */
    }
</style>

<script>
    document.getElementById('toggle-nav').addEventListener('click', () => {
        const navLinks = document.getElementById('nav-links');
        const button = document.getElementById('toggle-nav');
        navLinks.classList.toggle('active');
        button.classList.toggle('active'); // Toggle class on the button
    });
</script>
